html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; }

body {
  background: linear-gradient(145deg, #874242, #632f2f, #2f2e61, #24234b, #234b26, #397b3e);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 53s ease infinite;
  animation: AnimationName 53s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 43%; }
  50% {
    background-position: 100% 58%; }
  100% {
    background-position: 0% 43%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 43%; }
  50% {
    background-position: 100% 58%; }
  100% {
    background-position: 0% 43%; } }
header {
  background-color: #fff;
  height: 5vh;
  text-align: center; }
  header h1 {
    margin: 0;
    font-family: 'Galada', cursive;
    font-size: 3rem;
    padding-top: 1rem; }

main {
  /* background-color: #d3d3d3; */
  height: 90vh;
  width: 97%;
  margin: 2rem auto; }

.main__section-top {
  height: 58%; }

.color-container {
  display: flex;
  height: 70%;
  justify-content: space-between;
  border-radius: .6rem; }

.input-container {
  margin: 2rem auto;
  display: block;
  width: 55rem;
  height: 11rem; }
  .input-container form {
    margin: 1rem auto;
    display: block;
    width: 52rem;
    height: 3rem; }
    .input-container form input {
      width: 30rem;
      height: 3rem;
      margin: 1rem; }
    .input-container form select {
      border: none;
      height: 3.4rem;
      width: 8rem;
      font-size: 1.2rem; }
    .input-container form button {
      font-size: 1.3rem;
      border: none;
      height: 3.4rem;
      vertical-align: middle;
      padding: 0 1rem;
      border-radius: .5rem; }

.div__button--generate {
  height: 4rem;
  width: 20rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 4px 0px;
  margin: 0 auto;
  display: block;
  outline: none; }
  .div__button--generate:hover {
    color: #fff;
    background: linear-gradient(270deg, #ff5e5e, #608dff, #03d0ad);
    background-size: 600% 600%;
    -webkit-animation: ButtonHover 3s ease infinite;
    animation: ButtonHover 3s ease infinite; }
@-webkit-keyframes ButtonHover {
  0% {
    background-position: 0% 34%; }
  50% {
    background-position: 100% 67%; }
  100% {
    background-position: 0% 34%; } }
@keyframes ButtonHover {
  0% {
    background-position: 0% 34%; }
  50% {
    background-position: 100% 67%; }
  100% {
    background-position: 0% 34%; } }
  .div__button--generate:active {
    filter: invert(100%); }

.section__div-colors {
  width: 20rem;
  box-shadow: 4px 3px 10px;
  height: 20rem;
  border-radius: 37rem;
  margin: 5rem 2rem; }
  .section__div-colors p {
    font-size: 3rem;
    margin: 6.5rem 3rem 2rem;
    filter: invert(100%); }
  .section__div-colors img {
    width: 4rem;
    margin: 0 auto;
    display: block;
    filter: invert(100%); }

.main__div-divider {
  margin-bottom: 3rem; }
  .main__div-divider span {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(white), to(rgba(255, 255, 255, 0))); }

.main__section-bottom {
  height: 38%; }
  .main__section-bottom form {
    width: 43rem;
    margin: 0 auto; }
    .main__section-bottom form p {
      margin: 0 0 0 1rem;
      color: #f8f8ff;
      font-size: 1.2rem; }
    .main__section-bottom form input {
      width: 30rem;
      height: 3rem;
      margin: 1rem; }
    .main__section-bottom form button {
      font-size: 1.3rem;
      border: none;
      height: 3.4rem;
      vertical-align: middle;
      padding: 0 1rem;
      border-radius: .5rem; }

/*# sourceMappingURL=styles.css.map */
