html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  
}

body {
  background: linear-gradient(145deg, #e2788f, #612e39, #2f2e61, #24234b, #23484b, #396e7b);
  background-size: 1200% 1200%;

  -webkit-animation: backgroundFade 53s ease infinite;
  animation: backgroundFade 53s ease infinite;

  @-webkit-keyframes backgroundFade {
      0%{background-position:0% 43%}
      50%{background-position:100% 58%}
      100%{background-position:0% 43%}
  }
  @keyframes backgroundFade { 
      0%{background-position:0% 43%}
      50%{background-position:100% 58%}
      100%{background-position:0% 43%}
  }
  // background: #382a41;
  // background: -moz-linear-gradient(left, #543f61 0%, #1b1a3a 100%);
  // background: -webkit-linear-gradient(left, #543f61 0%,#1b1a3a 100%);
  // background: linear-gradient(to right, #543f61 0%,#1b1a3a 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382a41', endColorstr='#1b1a3a',GradientType=0 );
}

header {
  background-color: #fff;
  height: 5vh;
  text-align: center;
  h1 {
    margin: 0;
    font-family: 'Galada', cursive;
    font-size: 3rem;
    padding-top: 1rem;
  }
}

main {
    /* background-color: #d3d3d3; */
    height: 90vh;
    width: 97%;
    margin: 2rem auto;
}

.main__section-top {
  // background-color: #ffc0cb;
  height: 58%;
}

.color-container {
  // background-color: #0088ff;
  display: flex;
  height: 70%;
  justify-content: space-between;
  border-radius: .6rem;
}

.input-container {
  margin: 2rem auto;
  display: block;
  width: 55rem;
  height: 11rem;
  // background-color: purple;
  form {
    margin: 1rem auto;
    display: block;
    width: 52rem;
    height: 3rem;
    input {
      width: 30rem;
      height: 3rem;
      margin: 1rem;
    }
    select {
      border: none;
      height: 3.4rem;
      width: 8rem;
      font-size: 1.2rem;
    }
    button {
      font-size: 1.3rem;
      border: none;
      height: 3.4rem;
      vertical-align: middle;
      padding: 0 1rem;
      border-radius: .5rem;
    }
  }
}

.div__button--generate {
  height: 4rem;
  width: 20rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 4px 0px;
  margin: 0 auto;
  display: block;
  outline: none;
  &:hover {
    color: #fff;
    background: linear-gradient(270deg, #ff5e5e, #608dff, #03d0ad);
    background-size: 600% 600%;

    -webkit-animation: ButtonHover 3s ease infinite;
    animation: ButtonHover 3s ease infinite;

    @-webkit-keyframes ButtonHover {
        0%{background-position:0% 34%}
        50%{background-position:100% 67%}
        100%{background-position:0% 34%}
    }
    @keyframes ButtonHover { 
        0%{background-position:0% 34%}
        50%{background-position:100% 67%}
        100%{background-position:0% 34%}
    }
  }
  &:active {
    filter: invert(100%)
  }
}

.section__div-colors {
  width: 20rem;
  box-shadow: 4px 3px 10px;
  height: 20rem;
  border-radius: 37rem;
  margin: 5rem 2rem;
  p {
    font-size: 3rem;
    margin: 6.5rem 3rem 2rem;
    filter: invert(100%);
  }
  img {
    width: 4rem;
    margin: 0 auto;
    display: block;
    filter: invert(100%);
  }
}

.main__div-divider {
  margin-bottom: 3rem;
  span {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  }
}

.main__section-bottom {
  // background-color: #ff8ea1;
  height: 38%;
  form {
    width: 43rem;
    margin: 0 auto;
    p {
      margin: 0 0 0 1rem;
      color: #f8f8ff;
      font-size: 1.2rem;
    }
    input {
      width: 30rem;
      height: 3rem;
      margin: 1rem;
    }
    button {
      font-size: 1.3rem;
      border: none;
      height: 3.4rem;
      vertical-align: middle;
      padding: 0 1rem;
      border-radius: .5rem;
    }
  }
}

.section__div-projects {
  display: flex;
  overflow-x: scroll;
}

.project__card {
  width: 35rem;
  height: 25rem;
  p {
    margin: .6rem 1rem 0 2rem;
    font-size: 1.2rem;
    color: #fff;
  }
}

.project__title {
  font-size: 3rem;
  color: #fff;
  text-shadow: 3px 3px 2px #000;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.3);
}

.palette-container {
  display: flex;
  width: 30rem;
  margin: 2rem 0;
  div {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
  }
  img {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }
}
